body{
    background-color: #FEF9EF;
}

h1{
    text-align: center;
}

.register{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;       
    display: table-cell; 
    padding: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 5px 5px grey;
    max-width: 500px;
    margin: auto;
    transform:translate(-50%,-50%);
    border-radius: 10px;
}
.form{
    text-align: center;
}
.username{
    margin: 3px;
}

.password{
    margin: 3px;
}

.submit{
    margin: 3px;
}
