{% extends "baseTemplate.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    </style>
</head>
<body>
    <h3 style="text-align: center;">People-Analyzer</h3>
    <hr noshade="">
    <p>
        <strong>Human behaviour</strong> is a complex mix of various emotions and quotients, being able to comprehend them it a difficult task in itself. <br>
        The art of understanding and perceiving the other person fully, being able to deduce their feelings, emotions and thoughts is a trait that takes years of practice to master. <br>
        Being able to draw a clear picture of the other person helps us in ways beyond imagination. <br>
        This model will help the user to improve and refine this skill of ours. <br>
    </p>
    <hr noshade="">
    <h3 style="text-align: center;">The Big Five Personality Traits</h3>
    <hr noshade="">
    <p>
        Many contemporary personality psychologists believe that there are five basic dimensions of personality, often referred to as the "Big 5" personality traits. The five broad personality traits described by the theory are <strong> <a href="#Extraversion"> Extraversion</a> </strong> (also often spelled extroversion),<strong> <a href="#Agreeableness">Agreeableness  </strong></a>, <a href="#Openness"> <strong> Openness</strong></a> , <a href="#Conscientiousness"> <Strong>Conscientiousness</Strong></a>, and   <a href="#Neuroticism">  <strong > Neuroticism  </strong> </a>. <br>
        <br>
        Trait theories of personality have long attempted to pin down exactly how many personality traits exist. Earlier theories have suggested a various number of possible traits, including Gordon Allport's list of 4,000 personality traits, Raymond Cattell's 16 personality factors, and Hans Eysenck's three-factor theory.
        <br>
        <br>
        However, many researchers felt that Cattell's theory was too complicated and Eysenck's was too limited in scope. As a result, the five-factor theory emerged to describe the essential traits that serve as the building blocks of personality.
        <br>
        <br>
        <h3 id="Extraversion">Extraversion</h3>
        <p>
            Extraversion (or extroversion) is characterized by excitability, sociability, talkativeness, assertiveness, and high amounts of emotional expressiveness.1﻿ People who are high in extraversion are outgoing and tend to gain energy in social situations. Being around other people helps them feel energized and excited.
            <br> <br>
            People who are low in extraversion (or introverted) tend to be more reserved and have less energy to expend in social settings. Social events can feel draining and introverts often require a period of solitude and quiet in order to "recharge."
            <table>
                <tr>
                <th>High</th>
                <th>Lows</th>    
                </tr>
                <tr>
                    <td> 
                        <div class="mntl-sc-block-comparisonlist__wrapper">
                        <ul class="mntl-sc-block-comparisonlist__list">
                        <li><p>Enjoys being the center of attention</p></li>
                        <li><p>Likes to start conversations</p></li>
                        <li><p>Enjoys meeting new people</p></li>
                        <li><p>Has a wide social circle of friends and acquaintances</p></li>
                        <li><p>Finds it easy to make new friends</p></li>
                        <li><p>Feels energized when around other people</p></li>
                        <li><p>Say things before thinking about them</p></li>
                        </ul>
                        </div>
                    </td>
                    <td>
                        <div class="mntl-sc-block-comparisonlist__wrapper">
                            <ul class="mntl-sc-block-comparisonlist__list">
                            <li><p>Prefers solitude</p></li>
                            <li><p>Feels exhausted when having to socialize a lot</p></li>
                            <li><p>Finds it difficult to start conversations</p></li>
                            <li><p>Dislikes making small talk</p></li>
                            <li><p>Carefully thinks things through before speaking</p></li>
                            <li><p>Dislikes being the center of attention</p></li>
                            </ul>
                            </div>
                    </td>
                </tr>
            </table>
        <p>
            <h3 id="Agreeableness">Agreeableness</h3>
            <p>
                    This personality dimension includes attributes such as trust, altruism, kindness, affection, and other prosocial behaviors.1﻿ People who are high in agreeableness tend to be more cooperative while those low in this trait tend to be more competitive and sometimes even manipulative.
                 <br><br>
                 <table>
                     <tr>
                            <th>High</th>
                            <th>Low</th>
                        </tr>
                        <tr>
                            <td><div class="mntl-sc-block-comparisonlist__wrapper">
                                <ul class="mntl-sc-block-comparisonlist__list">
                                <li><p>Has a great deal of interest in other people</p></li>
                                <li><p>Cares about others</p></li>
                                <li><p>Feels empathy and concern for other people</p></li>
                                <li><p>Enjoys helping and contributing to the happiness of other people</p></li>
                                <li><p>Assists others who are in need of help</p></li>
                                </ul>
                                </div>
                            </td>
                            <td>
                                <div class="mntl-sc-block-comparisonlist__wrapper">
                                    <ul class="mntl-sc-block-comparisonlist__list">
                                    <li><p>Takes little interest in others</p></li>
                                    <li><p>Doesn't care about how other people feel</p></li>
                                    <li><p>Has little interest in other people's problems</p></li>
                                    <li><p>Insults and belittles others</p></li>
                                    <li><p>Manipulates others to get what they want</p></li>
                                    </ul>
                                    </div>
                            </td>
                        </tr>
                    </table>
                </p>
            </p>
           
        </p>
        <p>
            <h3 id="Openness">Openness</h3>
            <div class="Openness" >
                    <p id="Openness">
                        This trait features characteristics such as imagination and insight.People who are high in this trait also tend to have a broad range of interests. They are curious about the world and other people and eager to learn new things and enjoy new experiences.

                        People who are high in this trait tend to be more adventurous and creative. People low in this trait are often much more traditional and may struggle with abstract thinking.
                    </p>
                    <div>
                        <table>
                            <tr>
                            <th>High</th>
                            <th>Low</th>
                            </tr>
                            <tr>
                                <td><div class="mntl-sc-block-comparisonlist__wrapper">
                                    <ul class="mntl-sc-block-comparisonlist__list">
                                    <li><p>Very creative</p></li>
                                    <li><p>Open to trying new things</p></li>
                                    <li><p>Focused on tackling new challenges</p></li>
                                    <li><p>Happy to think about abstract concepts</p></li>
                                    </ul>
                                    </div></td>
                                <td>
                                    <div class="mntl-sc-block-comparisonlist__wrapper">
                                        <ul class="mntl-sc-block-comparisonlist__list">
                                            <li><p>Dislikes change</p></li>
                                            <li><p>Does not enjoy new things</p></li>
                                            <li><p>Resists new ideas</p></li>
                                            <li><p>Not very imaginative</p></li>
                                            <li><p>Dislikes abstract or theoretical concepts</p></li>
                                        </ul>
                                        </div>
                                </td>
                            </tr>
                        </table>
                    </div>

            </div>
        </p>
        <p>
            <h3 id="Conscientiousness">Conscientiousness</h3>
            <div>
                <p>
                    Standard features of this dimension include high levels of thoughtfulness, good impulse control, and goal-directed behaviors.1﻿ Highly conscientious people tend to be organized and mindful of details. They plan ahead, think about how their behavior affects others, and are mindful of deadlines.
                </p>
                <table>
                    <tr>
                        <th>High</th>
                        <th>Low</th>
                    </tr>
                    <tr>
                        <td><div class="mntl-sc-block-comparisonlist__wrapper">
                            <ul class="mntl-sc-block-comparisonlist__list">
                            <li><p>Spends time preparing</p></li>
                            <li><p>Finishes important tasks right away</p></li>
                            <li><p>Pays attention to detail</p></li>
                            <li><p>Enjoys having a set schedule</p></li>
                            </ul>
                            </div></td>
                        <td><div class="mntl-sc-block-comparisonlist__wrapper">
                            <ul class="mntl-sc-block-comparisonlist__list">
                            <li><p>Dislikes structure and schedules</p></li>
                            <li><p>Makes messes and doesn't take care of things</p></li>
                            <li><p>Fails to return things or put them back where they belong</p></li>
                            <li><p>Procrastinates important tasks</p></li>
                            <li><p>Fails to complete necessary or assigned tasks</p></li>
                            </ul>
                            </div></td>
                    </tr>
                </table>
            </div>
        </p>
        <p>
            <div>
                <h3 id="Neuroticism">Neuroticism </h3>
                <p>
                    Neuroticism is a trait characterized by sadness, moodiness, and emotional instability.1﻿ Individuals who are high in this trait tend to experience mood swings, anxiety, irritability, and sadness. Those low in this trait tend to be more stable and emotionally resilient.
                </p>
                <table>
                    <tr>
                        <th>High</th>
                        <th>Low</th>
                    </tr>
                    <tr>
                        <td><div class="mntl-sc-block-comparisonlist__wrapper">
                            <ul class="mntl-sc-block-comparisonlist__list">
                            <li><p>Experiences a lot of stress</p></li>
                            <li><p>Worries about many different things</p></li>
                            <li><p>Gets upset easily</p></li>
                            <li><p>Experiences dramatic shifts in mood</p></li>
                            <li><p>Feels anxious</p></li>
                            <li><p>Struggles to bounce back after stressful events</p></li>
                            </ul>
                            </div>
                        </td>
                        <td>
                            <div class="mntl-sc-block-comparisonlist__wrapper">
                                <ul class="mntl-sc-block-comparisonlist__list">
                                <li><p>Emotionally stable</p></li>
                                <li><p>Deals well with stress</p></li>
                                <li><p>Rarely feels sad or depressed</p></li>
                                <li><p>Doesn't worry much</p></li>
                                <li><p>Is very relaxed</p></li>
                                </ul>
                                </div>
                        </td>
                    </tr>
                </table>
            </div>
        </p>

    </p>
    <hr noshade="">
    <div>
        <p>
            <h3>Are the Big Five Traits Universal?</h3>
            McCrae and his colleagues have also found that the big five traits are also remarkably universal. One study that looked at people from more than 50 different cultures found that the five dimensions could be accurately used to describe personality. <br>

             Based on this research, many psychologists now believe that the five personality dimensions are not only universal; they also have biological origins. Psychologist David Buss has proposed that an evolutionary explanation for these five core personality traits, suggesting that these personality traits represent the most important qualities that shape our social landscape. <br>
        </p>
    </div>


    
</body>
{% endblock content %}