{% extends "baseTemplate.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\loginstyle.css">
    <title>ChatBot</title>
    </style>
</head>

<body>

    <center>
        <h3 style="text-align: center; font-size: 40px;">Clear all your doubts!!!</h3>
        <hr noshade="">
    </center>


  <form method="POST"> 

  <div>
    <label style="font-size:300%; color:blue;"> User: </label>
    <input type="text" name="textbox"  value = {{user_text}} style="margin-left: 40px; padding: 10px; margin-bottom: 40px; border: 1px #ccc solid;
    width: 300px;
    height: 35px;
    margin-top: 20px;">  
  </div>



  <button class="button button1" type="submit" name="submit" style="font-size:200%;" >
    Ask Me
  </button>  

 
  <br>
  <label style="font-size:300%; color: blue; padding-top: 20px;"> Bot: </label> 
  <label style="font-size:150%; color: black;"> {{output}} </label> <br>
 
  </form>

</body>
{% endblock content %}