{% extends "baseTemplate.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\loginstyle.css">
    <title>Extraversion-1</title>
    </style>
</head>
<body>
    <img src="{{url_for('static', filename='extra1.png')}}" alt="Scenario-1">

    <a href="{{url_for('scenarios.extraMain')}}">
        <button type="button" style="margin-top: 40px;"> Back </button>
    </a>  


</body>

{% endblock content %}