<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pumpkin's Multi Quiz</title>
        
    </head>
    <body>
        <div>
            <h1>Personality Test!</h1>
            <br>
            <form action="/quiz" method="post">
                {% for ques in data %}
                <h2>{{ ques.question }}</h2>

                {% for answer in ques.answers %}
                <input type="radio" id="{{ id }}" name="{{ ques.id }}"> {{ answer }}<br>
                {% endfor %}

                {% endfor %}
                <br>
                <input type="submit" value="Submit" name="Submit"/>
            </form>
        </div>
    </body>
</html>