{% extends "baseTemplate.html" %}
{% block content %}

    <head>
        <title>Personality Test</title>
        
    </head>
    <body>
        <div>
            <h1>Personality Test </h1>
            <br>
            <form action='/submitquiz', method="post">
                {% for question in questions_list %}
                    <br>
                    <h4>
                    {{question.question}}
                    </h4>
                    <input type="radio" name="{{question.qid}}" value="{{question.option1 }}"> {{question.option1}} <br>
                    <input type="radio" name="{{question.qid}}" value="{{question.option2 }}"> {{question.option2}} <br>
                    <input type="radio" name="{{question.qid}}" value="{{question.option3 }}"> {{question.option3}} <br>
                    <input type="radio" name="{{question.qid}}" value="{{question.option4 }}"> {{question.option4}} <br>
                    <input type="radio" name="{{question.qid}}" value="{{question.option5 }}"> {{question.option5}} <br>
                {% endfor %}
              
                <br>
                <input type="submit" name="submitform" value="Submit"/>
            </form>
        </div>
    </body>
{% endblock content %}