{% extends "baseTemplate.html" %}
{% block content %}
  <head>
    <title>Personality Test</title>
    <link rel="stylesheet" href="static\Personality_page.css" />
  </head>
  <body>
    <div>
      <br />
      <div class="quiz" >
        <h1>Personality Test!</h1>
        <form action="/quiz" method="post">
          {% for ques in data %}
          <h2>{{ ques.question }}</h2>

          <input type="radio" id="{{ id }}" name="{{ ques.id }}" value="1" />
          Strongly Disagree
          <input type="radio" id="{{ id }}" name="{{ ques.id }}" value="2" />
          Disagree
          <input type="radio" id="{{ id }}" name="{{ ques.id }}" value="3" />
          Neither
          <input type="radio" id="{{ id }}" name="{{ ques.id }}" value="4" />
          Agree
          <input type="radio" id="{{ id }}" name="{{ ques.id }}" value="5" />
          Strongly Agree<br />

          {% endfor %}
          <br />
          <input type="submit" value="Submit" name="Submit" id="submits"  />
        </form>
      </div>
    </div>
  </body>
{% endblock content %}
