{% extends "baseTemplate.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\loginstyle.css">
    <title>Scenario</title>
    </style>
</head>
<body>
    
    <a href="{{url_for('scenarios.open')}}">
        <button type="button"> Openness </button>
    </a>
  
    <a href="{{url_for('scenarios.consi')}}">
        <button type="button"> Conscientiousness </button>
    </a>    
    
    <a href="{{url_for('scenarios.extra')}}">
        <button type="button"> Extraversion </button>
    </a>

    <a href="{{url_for('scenarios.agree')}}">
        <button type="button"> Agreeableness </button>
    </a>


</body>

{% endblock content %}
