{% extends "dashboard.html" %}
{% block content %}
	<h1>About Page</h1>
	<p style="color:black;font-size:20px;">
		The basic idea is to guide students in the college campus with the different locations of the colleges within the university, the faculties, the classrooms and various announcements about events. One more feature will be ability for students to comment and ask for notes that are not already available on TCS ion platform.
	</p>
	<p style="color:black;font-size:20px;">
		This project is for students, teachers as well as any new comer. Students can use this chatbot to know the locations in our University, find about courses or to know more about the college when in confusion. Students can ask each other about competitions or some doubts related to the college through the comment section where anyone can reply. This project has been developed keeping in mind the vast culture of MIT-ADT and need to communicate/ learn about general announcements more frequently. The future scope of this project is very high due to the continuous details and information that can be added in the dataset for the chatbot.   

{% endblock content %}